:root {
    --cor-fundo: #050A24;
      --cor-principal: #6C8E9A;
        --cor-segundaria: #2D4B57;
          --cor-destaque: #050A24;
            --cor-texto: #FFFFFF;
             
}

body {
    background-color: #050A24;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}